<h1>Store index</h1>


<% @stores.each do |store|%>
  <p>name:<%= link_to store.name, store_path(store) %></p>
  <p>review:<%= store.rating %></p>
  <%= link_to "Destroy", store_path(store), method: :delete, data: { turbo_confirm: "Are you sure?" }, form: { "data-turbo-method": :delete } %>
<% end %>
